/*Ferramenta que auxilia a posicionar elementos na tela de forma facil;
contribui para a responsividade dos elementos na criação de telas;
podem ser aplicada em containers e em itens*/

/*container: modifica as DIVs
itens: modifica itens em especificos*/

/* "*" significa que os padrões seram aplicados por todo projeto que está linkado a esse style*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: dimgray;
  height: 100vh;
  width: 600vw;
  padding: 10px;
  display: flex;

  gap: 40px;
}

.item {
  background-color: blueviolet;
  color: white;
  font-size: 22px;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  flex-grow: 1;
}

.item2 {
  flex-grow: 4;
}

/*FLEX CONTAINER*/
/*FLEX-DIRECTION: */
/*determina a direção que os items iram ficar: row, columm (reverse para colocar o contrario)*/

/*FLEX_WRAP*/
/*Permite que os items cresção mais que seus pais, já que um item nunca fica maior que o item que ele está dentro*/
/*wrap (-reverse faz em ordem contraria), nowrap(não deixa essa permissão)*/

/*FLEX-FLOW*/
/*atalho para colocar o flex-direction e o flex-wrap em apenas um linha*/

/*JUSTIFY-CONTENT*/
/*faz o mesmo que a opção de alinhar... no word( expecificamente no eixo principal )*/
/*center(alinha os itens no centro), flex-start(alinha a esquerda), flex-end(alinha a direita)*/
/*space: espaçamento entre os itens*/
/*space-between(espaça todos os itens ao maximo possivel), space-around(cria um espaçamento entre os itens, aplica juntamente as margens)m, space-eveny(cria um espaçamento igual para todos, incluindo as margens)*/

/*ALIGN-ITEMS*/
/*faz o mesmo que o justify-content mas para o eixo secundario, deixando um espaçamento entre os itens*/
/*center(alinha os itens no centro), flex-start(alinha a esquerda), flex-end(alinha a direita)*/
/*space: espaçamento entre os itens*/
/*space-between(espaça todos os itens ao maximo possivel), space-around(cria um espaçamento entre os itens, aplica juntamente as margens)m, space-eveny(cria um espaçamento igual para todos, incluindo as margens)*/

/*ALIGN-CONTENT*/
/*/*faz o mesmo que o justify-content mas para o eixo secundario, junta todo o espaçamento entre os itens*/
/*center(alinha os itens no centro), flex-start(alinha a esquerda), flex-end(alinha a direita)*/
/*space: espaçamento entre os itens*/
/*space-between(espaça todos os itens ao maximo possivel), space-around(cria um espaçamento entre os itens, aplica juntamente as margens)m, space-eveny(cria um espaçamento igual para todos, incluindo as margens)*/

/*GAP*/
/*cria um espaçamento para todos os itens que estão dentro da div*/

/*FLEX ITEMS*/
/*FLEX-BASIS*/
/*permite colocar tamanho exato no eixo principal do item*/

/*FLEX-GROW*/
/*aumenta o tamanho dos items de acordo com o tamanho da tela, responsivamente*/

/*FLEX-SHRINK*/
/*encolhe o tamanho dos items de acordo com o tamanho da tela, responsivamente*/

/*FLEX*/
/*atalho para o basis grow e shrink*/

/*ORDER*/
/*troca a ordem dos items*/

/*ALIGN-SELF*/
/*permite colocar um item em expecefico em uma alinhamento diferente dos seus démais dentro de uma div*/
/*center(alinha os itens no centro), flex-start(alinha a esquerda), flex-end(alinha a direita)*/
/*space: espaçamento entre os itens*/
/*space-between(espaça todos os itens ao maximo possivel), space-around(cria um espaçamento entre os itens, aplica juntamente as margens)m, space-eveny(cria um espaçamento igual para todos, incluindo as margens)*/
